.dashboardTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #04081A;
}

.searchInput {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 70px;
    border: 0;
    padding: 0.6rem 2rem 0.6rem 4.5rem;
    outline: 0;
    color: var(--Grey4, #504c4c);
}

.searchIcon {
    position: absolute;
    left: 8%;
    top: 26%;
    cursor: pointer;
}

.viewMore {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #14226D;
    cursor: pointer;
}

.jobTitlePersonName {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #14226D;

    span {
        font-weight: 400;
        color: #04081A;
    }

}

.proposalsTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
}

.proposalsRecieved {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 158.5%;
    color: #4F4F4F;
}

.proposalsCount {
    color: #14226D;
}

.allProposalsTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 126%;
    color: #333333;
}

.viewJob {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #04081A;
}

.viewJobPersonName {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #14226D;
}

.proposalsOuter {
    background: #FFFFFF;
    border-radius: 12px;
}

.hr {
    opacity: 0.1;
    border: 1px solid #1E202B;
}

.proposalsNav {
    position: sticky;
    top: 9.3rem;
    z-index: 3;
}

.proposalNavPadding {
    padding-bottom: 2.2rem !important;
}

.videoDiv {
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(20, 34, 109, 0.04);
    border-radius: 19px;


    & img {
        box-shadow: 0px 9.17793px 55.0676px rgba(20, 34, 109, 0.04);
        border-radius: 9.17793px;
    }
}

.video {
    background: #000000;
    opacity: 0.93;
    border-radius: 10px;
}

.viewServicesImage {
    object-fit: cover !important;
    width: 30%;
    height: 11rem !important;
}


.imgWidth {
    object-fit: cover !important;
    width: 48%;
    // height: 9rem !important;
}

.formInputColor {
    color: #828282 !important;
}

.button {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    width: 158px;
    height: 55px;
}

.rejectButton {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FF0000;
}

.acceptButton {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0036FF;
}

.feedbackStars {
    display: inline-block;
    color: #ffd700;
    /* Set the default star color */
}

.star {
    cursor: pointer;
    transition: color 0.2s;
    color: #e8e9ee;
}

.active {
    color: #ffbf00;
    /* Set the color for active (filled) stars */
}

.sizeDiv {
    height: 205px;
}

.jobContainer {
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(20, 34, 109, 0.04);
    border-radius: 19px;
}

.getImage {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.getImage2 {
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width: 8rem;
}

.jobTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1E202B;
}

.jobDescription {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 158.5%;
    color: #1E202B;
    opacity: 0.8;
}

.viewMoreJobDetails {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #14226D;
    cursor: pointer;
}

.more {
    color: rgba(0, 54, 255, 1) !important;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 158.5%;
}