.mainHeader {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: -2px 2px 33px -16px grey;
    background: white;
    backdrop-filter: blur(200px) !important ; /* Changed to blur and made it bluer */
}

.torsinLogo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    color: #14226D;
}

.topRightName {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.007em;
    color: #4F4F4F;
     
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.pageContentWrapper {
    padding: 0 1% 0 2%;
    background: #F9FBFF;
    min-height: 89.3vh;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    
}

.mainBodyWrapper {
    background: #F9FBFF;
}

.userProfile {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    overflow: hidden;
    
}