.fontFamily {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.title {
  font-size: 20px;
  line-height: 28px;
  color: #1e202b;
}

.notifyHeading {
  font-size: 18px;
  line-height: 27px;
}
.duration {
  font-size: 14px;
  line-height: 21px;
  color: #5a5a5f;
  text-align: right;
}
.notifyBody {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #3b3b40;
}
.blueIcon {
  color: #004eda;
}
.blueTitle {
  color: #004eda;
}
